<div ng-controller="InicioController" class="inicio-container">
    
    <!-- Banner Principal -->
    <section class="banner">
        <div class="banner-content">
            <h1 class="animate__animated animate__fadeInDown">Nuestra especialidad eres tú</h1>
            <p class="animate__animated animate__fadeInUp" style="animation-delay: 0.2s;">Contamos con médicos especialistas para atender las necesidades médicas de toda tu familia</p>
            <button class="btn-primary animate__animated animate__slideInUp" style="animation-delay: 0.4s;" ng-click="navigateToAgendar()">Agendar Cita</button>
        </div>
    </section>

</div>